[submodule "assignment-autotest"]
	path = assignment-autotest
        url = https://github.com/cu-ecen-5013/assignment-autotest

[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git

[submodule "application"]
	path = /home/yogesh-1303/new-app-final-project-yogesh-1303/final-project-yogesh-1303-app
	url = https://github.com/cu-ecen-aeld/final-project-yogesh-1303-app.git
